.todo-item_chb {
	width: 25px;
    height: 25px;
    border-radius: 20px;
	/*border: 1px solid #5dc2af;*/
	position: absolute;
	top: 5px;
	left: 5px;
    background-color: white;
}


.todo-item-chb label:before{
	visibility: visible;
	content: '';
	width: 10px;
	height: 5px;
	/*border: 2px solid #000;*/
	border-radius: 20px;
	top: 8px;
	left: 8px;
	transform: rotate(-45deg);
	opacity: 0;
}