@import "../../config/globals";


.action {
    position: relative;
    display: inline-block;
    }

    .action_aim {
        position: absolute;
        @include absolute-full();
        }
        button.action_aim, input.action_aim {
            @include reset-input();
            opacity: 0;
            }